<header class="page-header container-fluid">
	<div class="col-sm-8 logo">
		<h1>
			<a href="{{ site.url }}">
				<img src="{{ site.baseurl }}/img/logo.jpg" alt="Alt">
				<strong>{{ site.title }}</strong>
			</a>
		</h1>
	</div>
	<div class="col-sm-4 hidden-xs links">
		<ul>
			<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div class="col-xs-12 visible-sm visible-xs mobile_menu">
		<nav class="navigation">
			<ul>
				{% if page.category == 'John Doe' %}
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/john-doe" class="active">John Doe</a>
					<a href="{{ site.baseurl }}/categories/john-doe" class="visible-xs"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/la-music">La Musique</a>
					<a href="{{ site.baseurl }}/categories/la-music" class="visible-xs"><i class="fa fa-music" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/lampovo">Lampovo</a>
					<a href="{{ site.baseurl }}/categories/lampovo" class="visible-xs"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/nyanyan">Nyanyan</a>
					<a href="{{ site.baseurl }}/categories/nyanyan" class="visible-xs"><i class="fa fa-venus" aria-hidden="true"></i></a>
				</li>
				{% elsif page.category == 'La Musique' %}
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/john-doe">John Doe</a>
					<a href="{{ site.baseurl }}/categories/john-doe" class="visible-xs"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/la-music" class="active">La Musique</a>
					<a href="{{ site.baseurl }}/categories/la-music" class="visible-xs"><i class="fa fa-music" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/lampovo">Lampovo</a>
					<a href="{{ site.baseurl }}/categories/lampovo" class="visible-xs"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/nyanyan">Nyanyan</a>
					<a href="{{ site.baseurl }}/categories/nyanyan" class="visible-xs"><i class="fa fa-venus" aria-hidden="true"></i></a>
				</li>
				{% elsif page.category == 'Lampovo' %}
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/john-doe">John Doe</a>
					<a href="{{ site.baseurl }}/categories/john-doe" class="visible-xs"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/la-music">La Musique</a>
					<a href="{{ site.baseurl }}/categories/la-music" class="visible-xs"><i class="fa fa-music" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/lampovo" class="active">Lampovo</a>
					<a href="{{ site.baseurl }}/categories/lampovo" class="visible-xs"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/nyanyan">Nyanyan</a>
					<a href="{{ site.baseurl }}/categories/nyanyan" class="visible-xs"><i class="fa fa-venus" aria-hidden="true"></i></a>
				</li>
				{% elsif page.category == 'Nyanyan' %}
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/john-doe">John Doe</a>
					<a href="{{ site.baseurl }}/categories/john-doe" class="visible-xs"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/la-music">La Musique</a>
					<a href="{{ site.baseurl }}/categories/la-music" class="visible-xs"><i class="fa fa-music" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/lampovo">Lampovo</a>
					<a href="{{ site.baseurl }}/categories/lampovo" class="visible-xs"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/nyanyan" class="active">Nyanyan</a>
					<a href="{{ site.baseurl }}/categories/nyanyan" class="visible-xs"><i class="fa fa-venus" aria-hidden="true"></i></a>
				</li>
				{% else %}
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/john-doe">John Doe</a>
					<a href="{{ site.baseurl }}/categories/john-doe" class="visible-xs"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/la-music">La Musique</a>
					<a href="{{ site.baseurl }}/categories/la-music" class="visible-xs"><i class="fa fa-music" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/lampovo">Lampovo</a>
					<a href="{{ site.baseurl }}/categories/lampovo" class="visible-xs"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
				</li>
				<li>
					<a class="hidden-xs" href="{{ site.baseurl }}/categories/nyanyan">Nyanyan</a>
					<a href="{{ site.baseurl }}/categories/nyanyan" class="visible-xs"><i class="fa fa-venus" aria-hidden="true"></i></a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
