<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<div class="content container-fluid">
		<main class="col-md-8">
			{{ content }}
			{% if page.comments %}
			<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = {{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//https-citruscream-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			{% endif %}
		</main>
		<aside class="col-md-4 hidden-sm hidden-xs">
			{% if page.img %}
			{% if page.full-img %}
			{% else %}
			<img src="{{ site.baseurl }}{{ page.img }}" alt="{{ page.img_alt }}" class="post-image post-image_aside">
			{% endif %}
			{% endif %}
			<nav class="navigation">
				<ul>
					<li><a href="{{ site.baseurl }}/categories/john-doe"{% if page.category == 'John Doe' %}class="active"{% endif %}>John Doe</a></li>
					<li><a href="{{ site.baseurl }}/categories/la-music"{% if page.category == 'La Musique' %}class="active"{% endif %}>La Musique</a></li>
					<li><a href="{{ site.baseurl }}/categories/lampovo"{% if page.category == 'Lampovo' %}class="active"{% endif %}>Lampovo</a></li>
					<li><a href="{{ site.baseurl }}/categories/nyanyan"{% if page.category == 'Nyanyan' %}class="active"{% endif %}>Nyanyan</a></li>
				</ul>
			</nav>
		</aside>
	</div>
	{% include footer.html %}
	{% include script.html %}
</body>
</html>